.side-nav {
    margin-top: 1em;

    > ul {
        margin: 0;

        box-shadow: $fancy-shadow;
        transition: $def-trans-shadow;

        background: #ddd;
        border-radius: 0.3em;
        margin-right: 0.8em;
        padding: 0;
        overflow: hidden;

        > li {
            a, span {
                padding: 0.5em 0.6em;

                cursor: pointer;

                display: block;
                color: #222;
                transition: $def-trans;
                text-decoration: none;
            }

            > a, > span {
                &:hover {
                    background: #eaeaea;
                }
            }

            > ul {
                background: #eee;
                margin: 0;

                a {
                    text-decoration: none;

                    &:hover {
                        background: #fff;
                    }
                }
            }
        }

        &:hover {
            box-shadow: $fancy-shadow-blur;
        }
    }
}